<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
	<div style="width: 22%">
		<br>
		<a class='list-group-item disabled' style='text-align: center;' href='#'><b>Category</b></a>
		<script type="text/javascript">
			for( var i=1; i < 10; i++) { 
				document.write("<a class='list-group-item' style='text-align: center;' href='#'>Category "+i+"</a>");
			}
        </script>
        <br>
        <a class='list-group-item disabled' style='text-align: center;' href='#'><b>New Books</b></a>
    	<div class='list-group-item'>
    		<script type="text/javascript">
				for( var i=1; i < 10; i++) {
					var link = 'http://www.mediafactory.org.au/lina-hawi/files/2014/04/shootvideo-2la5v07.jpg'; 
					document.write("<a href='#'><img style='width:32%' src='"+link+"'></a><img style='width:1%'></img>");
					if(i%3==0) document.write("<div style='height:3px'></div>");
				}
    	    </script>
    	</div>
		<br>
        <a class='list-group-item disabled' style='text-align: center;' href='#'><b>Top Reading Books</b></a>
        <div class='list-group-item'>
	    	<script type="text/javascript">
	    		var link = 'http://www.earlyword.com/wp-content/uploads/2015/04/9781455586387_4b710.jpg';
				for( var i=1; i < 10; i++) { 
					document.write("<a href='#'><img style='width:32%' src='"+link+"'></a><img style='width:1%'></img>");
					if(i%3==0) document.write("<div style='height:3px'></div>");
				}
		    </script>
		</div>
		<br>
    </div>
</body>
</html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


