ul{
    list-style: none;
    padding: 0
}
.full_width{
    width: 100%;
}
.white_bgr{
    background-color: #fff;
}
body{
    min-height: calc(100vh - 20px);
    position: relative;
}
header.main_header{
    height: 60px;
    margin-top: 20px;
    margin-bottom: 16px;
}
header.main_header .search{
    margin-top: 10px;
}
header.main_header .search button{
    padding: 5px 10px;
    border: 1px solid #05b2e9;
    background: #05b2e9;
    color: #fff;
    font-weight: bold;
    border-radius: 0 4px 4px 0;
    height: 36px;
    width: 55px;
}
header.main_header .search input{
    width: 500px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #d2d2d2;
    border-right: none;
    height: 36px;
    margin-right: -4px;
    padding: 0 10px;
    outline: none;
    margin-top: -8px;
}
header.main_header .login{
    margin-top: 7px
}
footer{
    position: absolute;
    bottom: 0;
}
.breadcrumb_top{
    background-color: #fff;
    padding-left: 0;
    margin-bottom: 0;
}
.bh_nav{
    border: 1px solid #ddd;
    border-top: 0;  
}
.bh_nav ul li{
    padding: 6px 0;
    border-top: 1px solid #ddd;
}
.bh_nav ul li a{
    color: #565656;
}
.row_title_container{
    padding-top: 10px;
    padding-bottom: 10px;
}
.row_title{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.row_title h3{
    margin: 0;
}
.row_title a{
    line-height: 26px;
}
#index_main_content > .row:not(:first-child){
    margin-top: 20px;
    margin-bottom: 20px;
}
#show_book_main_content .book_description pre{
    white-space: pre-line;
    font-family: inherit;
    padding: 0;
    font-size: inherit;
    word-break: break-word;
    text-align: justify;
    background-color: #fff;
    border: none;
}
#show_book_main_content > .row{
    padding: 30px 0;
}
#show_book_main_content > .book_img img{
    display: inline-block;
}
#show_book_main_content .book_description{
    margin-top: 30px;
}
#show_book_main_content .book_description h4{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 30px;
}
#show_book_main_content > .book_comment form textarea{
    padding: 5px;
    border: 1px solid #ddd;
    height: 100px;
    resize: none;
}
#show_book_main_content ul.list_reviews > li{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
#show_book_main_content ul.list_reviews .row{
    margin-left: 0;
    margin-right: 0;
}
#user_main_content{
    padding-top: 20px;
    padding-bottom: 20px;
}

/****************  TYPEAHEAD CSS  **********************/
.tt-dropdown-menu {
    border: 1px solid #ddd;
    width: calc(100% + 5px);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    border-top: none;
}
.tt-dropdown-menu p{
    margin: 0;
}
.tt-suggestion{
    padding: 5px 8px;
    background-color: #f4fcff;
}
.tt-is-under-cursor{
    background-color: #05b2e9!important;
    color: #fff
}
/***************** END TYPEAHEAD CSS *****************/
.rate {
    width: 100%;
    height: 20px;
    cursor: pointer;
    position: absolute;
    margin-top: -20px;
}
pre {
    background-color: #fff;
    border: 0;
    padding: 0;
    font-size: 14px;
}
.well {
    background-color: #fff; 
    border: 0;
}
.list_comment {
    margin-top: 20px;
}