<nav class="bh_nav col-sm-3">
	<h3>Danh muc</h3>
	<ul>
		<li><a href="<%= books_path %>">Tất cả đầu sách</li>
		<% @categories.each do |category| %>
			<li><a href="<%= category_path(category.slug) %>"><%= category.category %></a>	</li>
		<% end %>
	</ul>
</nav>