<div class=" col-sm-3">
	
    <ul class="list-group sidebar-nav" id="sidebar-nav">
        <li class="list-group-item">
            <a href="<%= books_path %>">Tất cả đầu sách</a>
        </li>
        <% @categories.each do |category| %>
			<li class="list-group-item"><a href="<%= category_path(category.slug) %>"><%= category.category %></a>	</li>
		<% end %>
        
    </ul>
</div>



