
<% content_for :add_css do %>
	<link rel="stylesheet" href="/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/animate.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/nexus.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/custom.css" rel="stylesheet">
<% end %>

<% provide(:body_class, "login") %>

<% content_for :content do %>
	<div>
		<%= yield :main %>
    </div>
<% end %>

<% content_for :add_js do %>
	<%= javascript_include_tag 'back_end', "data-turbolinks-track" => true %>
	<%= javascript_include_tag 'parsley.min'%>
	<%= javascript_include_tag 'icheck.min'%>
<% end %>
